<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.time_select :end %>
  </div>
  <div class="field">
    <%= f.label :startLunch %><br>
    <%= f.time_select :startLunch %>
  </div>
  <div class="field">
    <%= f.label :endLunch %><br>
    <%= f.time_select :endLunch %>
  </div>
  <div class="field">
    <%= f.label :startBreak %><br>
    <%= f.time_select :startBreak %>
  </div>
  <div class="field">
    <%= f.label :endBreak %><br>
    <%= f.time_select :endBreak %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br>
    <%= f.text_field :owner_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
